<!DOCTYPE html>
<html>
 <head>
    <title>Simple Chat</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h2>Welcome to Simple Chat :) <%= user.username %></h2>
     <textarea style="height:300px;width:500px;"></textarea>
    <p>
        <input id="chatText" type="text"/>
        <button id="chat">Send Chat Message</button>
    </p>
    <a href="/logout"><button>Logout!</button></a>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>
</html>