<!DOCTYPE html>
<html>
 <head>
    <title>Simple Chat</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <h3>Email</h3>
        <input type="text" name="email" require/>
        <h3>Password</h3>
        <input type="password" name="password"require/>
        <p>
            <input type="submit" value="Log In"/>
        </p>
    </form>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <h3>Email</h3>
        <input type="text" name="email" require/>
        <h3>Username</h3>
        <input type="text" name="username"require/>
        <h3>Password</h3>
        <input type="password" name="password"require/>
        <p>
            <input type="submit" value="Log In"/>
        </p>
    </form>
</body>
</html>