body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat-container {
  height:300px;
  width:500px;
  border: 1px solid black;
  overflow: scroll;
  margin-bottom: 1em;
}

date {
  color: green;
  margin-left: 3.5em;
}

p {
  margin-left: 0.5em;
  padding-top: 0.5em;
  margin-top: 0;
}

