body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat-container {
  height:300px;
  width:500px;
  border: 1px solid black;
  overflow: scroll;
  margin-bottom: 1em;
}



